 [BASIC]
 argument-naming-style=camelCase
 attr-naming-style=camelCase
 class-attribute-naming-style=camelCase
 docstring-min-length=5
 function-naming-style=camelCase
 method-naming-style=camelCase
 module-naming-style=camelCase
 variable-naming-style=camelCase
 [DESIGN]
 max-attributes=10
 [FORMAT]
 max-line-length=160
 max-statements=150
 max-branches=25
 [MESSAGES CONTROL]
 disable=R1723
 [MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
